
.registration_page {
    margin-top: 50px;
    background-color: darkgray;
}

.submit_div {
    margin-bottom: 70px;
}

/* Capitalize the letters */

#nom {
    text-transform: uppercase;
}

#prenom {
    text-transform: capitalize;
}

.foooter {
    background-color: darkgray;
    height: 40px;
    
}