.buttonManager {
    width: 200px;
    height: 80px;
}

.buttonDeleteManager {
    margin-left: 300px;
    width: 200px;
    height: 80px;

}


.formManager {
    display: none;
}

.deleteFormManager {
    display: none;
}

.form-inline {

    margin-top: 100px;
    margin-bottom: 100px;
}

.form-group {
    margin-right: 10px;
    margin-left: 10px;
}

.cancelBtnManager {
    background-color: darkred;
}


.btnRemoveManager {
    position: absolute;
    float: right;
}
