* {
 margin:0;
 padding:0;
 }

#homepage {

	background-image : url('../img/bg.jpg');
	background-repeat: repeat;
	
	header {

		background-image: linear-gradient(#696969, #000000);


		h1 {
			height: 60px;
			color: white;

		}

		nav {

			height: 60px;

			ul {
				height: 60px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				color: white;

				li {

					list-style-type: none;

					 a{
					 	text-decoration: none;
					 	color: white;
					 	&:hover {
					 		background-color: rgba(0,0,0,0.2);
					 		color: blue;
					 	}
					 }

				}
			}
		}
	}

	.jeux {
		color: white;
	}
	.bloc {
		background-color: white;
		border : 5px solid black;
		margin-left: 340px;
		
	}
	
	.footer {
		height: 50px;
		background-color: black;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: white;
	}
	#tetris {
		margin-top: 20px;
	}

	

}