.newClass {
    color: red;
}

body {
    
    background-color: skyblue;
}

form {
    display: flex;
    justify-content: center;
}

legend {
    font-size: 1.5em;
}

h2 {
    font-size: 0.9em;
}

label  {
    
    font-size: 0.9em;
}