form,
div#contain {
    background-color: #e9ecef;
    padding: 80px 30px;
    margin-top: 40px;
    border-radius: 3px;
}

button {
    margin-top: 15px;
}

tr td:last-of-type {
    color: red;
}

tr td:first-of-type {
    font-weight: bold;
}

thead {
    background-color: #222529;
    color: #fff;
}

div#contain {
    margin-top: 32px;
}

.color-red {
    background-color: #722;
}

.great-info {
    border: 2px solid #373;
    background-color: #ebfad7;
}

.bad-info {
    border: 2px solid #722;
    background-color: antiquewhite !important;
}