h1 {
	text-align: center;
	margin: 6%;
}

body .studentform, .studentarray {
	background-color: #dde9ed;
	margin: 8%;
	padding: 3%;}

body .thead {
	background-color: black;
	color: white;

}

.studentarray {
	display: inline-block;
	width: 100%;

td, th {
	margin: auto;
	text-align: center;

}
}
